/* Defining global settings */

* {
  font-family: Verdana,sans-serif;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

/* Defining header properties */

#header {
  border-radius: 20px;
  background-color: #E41414;
  width: 99,5%;
  height:15%;
  color: #cccccc;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

#header h1 {
  font-size: 1,125em;
}

/* Defining intro properties */

#intro {
  border-radius: 20px;
  background-color: #ec5a5a;
  width: 99,5%;
  height: 10%;
  color : #cccccc;
  text-align: center;
  margin-top: 5px;
  padding-top: 6px;
  padding-bottom: 14px;
}


nav {
  float: left;
  margin-top: 1%;
  width: 15%;
  border-radius: 20px;
  background-color: #f4a1a1;
  color: #f4f4f4;
  
}
